@font-face {
    font-family: shonenpunk;
    src: url('../font/shonen-punk/ShonenPunk\ custom.ttf');
}
@font-face {
    font-family: shonenpunkbold;
    src: url('../font/shonen-punk/ShonenPunk\ custom\ bold.ttf');
}
@font-face {
    font-family: punkboy;
    src: url('../font/punkboy/punkboy_tbs.ttf');
}
@font-face {
    font-family: punkboybold;
    src: url('../font/punkboy/punkboy_tbs_bold.ttf');
}
@font-face {
    font-family: wit;
    src: url('../font/whatever_it_takes/whatever\ it\ takes.ttf');
}
@font-face {
    font-family: witbold;
    src: url('../font/whatever_it_takes/whatever\ it\ takes\ bold.ttf');
}
@font-face {
    font-family: doctorpunk;
    src: url('../font/doctor\ punk.otf');
}
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none!important;
    color:#c20e1a!important;
}
p{
    margin-top:20px;
    margin-bottom:20px;
}
body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: relative;
}
.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
}

@media only screen and (min-width: 481px) {
    #sec-1{
        padding-bottom:5%!important;
    }
    .cover-sec-1{
        margin-bottom:20px;
        height:820px;
    }
    .cover-title{
        position: absolute;
        z-index: 1;
    }
    .cover-title h1{
        font-family: doctorpunk;
        font-size:14vh;
        line-height: 10vh;
    }
    .louder{
        margin-top:5%;
        z-index: 1;
    }
    .cover-sec-1 .himg{
        width:100%!important;
        position: absolute;
        margin-top:12%;
    }
    .logo-hai{
        position: absolute;
        width:100px;
        z-index: 2;
        top:75%;
        left:45%;
    }
    .paper{
        /* height:115vh; */
        margin-bottom: 80%;
    }
    .quotes{
        font-family: witbold;
        font-size:5vh;
    }
    .comment{
        right: 12%;
        margin-top: 14%;
        width: 47%;
        overflow: auto;
        height: 55vh;
    }
    .titlebro{
        font-size:12vh;
        font-family: doctorpunk;
    }
    .poin-mantap-caption{
        margin:5% 0;
        font-family: shonenpunk;
        font-size:3vh;
        line-height: 3.25vh;
    }
    .captionbro{
        font-size:4vh;
        line-height: 4.25vh;
        font-family: shonenpunk;
    }
}
@media only screen and (max-width: 480px) {
    .cover-sec-1{
        margin-bottom:20px;
        height:320px;
    }
    .cover-title h1{
        font-family: doctorpunk;
        font-size:6vh;
        line-height: 2vh;
        z-index: 1;
        text-align: center;
    }
    .louder{
        
    }
    .cover-sec-1 .himg{
        width:100%!important;
    }
    .logo-hai{
        position: absolute;
        width:20%;
        z-index: 2;
        top:75%;
        left:40%;
    }
    .paper{
        /* height:115vh; */
        margin-bottom: 160%;
    }
    .quotes{
        font-family: witbold;
        font-size:5vh;
    }
    .comment{    
        left: 13%;
        margin-top: 44%;
        width: 76%;
        overflow: auto;
        height: 43vh;
    }
    .titlebro{
        font-size:9vh;
        font-family: doctorpunk;
    }
    .poin-mantap-caption{
        margin:5% 0;
        font-family: shonenpunk;
        font-size:3vh;
        line-height: 3.25vh;
    }
    .captionbro{
        font-size:2vh;
        line-height: 2.25vh;
        font-family: shonenpunk;
    }
}
.font-red{
    color:#a61e27!important;
}
.img-80{
    width:80%;
}
.img-100{
    width:100%;
}
.caption{
    margin:5% 0;
    font-family: witbold;
    font-size:5vh;
    line-height: 5vh;
}
@media only screen and (min-width: 481px) {
    #sec-2{
        background:url('../images/2/2_backgroundimage.png') no-repeat;
        background-size:100%;
        height:1200px;
        padding-bottom:10%;
    }
    .box{
        width:80%;
        top:25%;
        left:10%;
    }
}
@media only screen and (max-width: 480px) {
    #sec-2{
        background:url('../images/extra/2_backgroundimageversimobile.png') no-repeat;
        background-size:100%;
        height:1100px;
        padding-bottom:10%;
    }
    .box{
        width:80%;
        top:5%;
        left:10%;
    }
}
@media only screen and (min-width: 481px) {
    .carousel{
        height:700px!important;
    }
    .carousel-item{
        width:600px!important;
        height:100%!important;
    }
}
@media only screen and (max-width: 480px) {
    .carousel{
        height:400px!important;
    }
    .carousel-item{
        width:310px!important;
        height:100%!important;
    }
}
.poin-mantap{
    margin-bottom:10%!important;
}
#sec-4{
    background: #231f20;
}
@media only screen and (min-width: 481px) {
    #footer{
        background: #f8f8f8;
        padding-bottom:2%;
    }
    .bth{
        font-family: doctorpunk;
        color:#231f20;
        font-size:7vh;
    }
    .logo-footer{
        width:75px;
    }
    .lbl-foot{
        font-family: shonenpunkbold;
        font-size: 3vh;
    }
    .text-foot{
        font-family: wit;
        font-size: 3vh
    }
    .footer-body{
        margin-top:-5%;
    }
}
@media only screen and (max-width: 480px) {
    #footer{
        background: #f8f8f8;
        padding-bottom:2%;
    }
    .bth{
        font-family: doctorpunk;
        color:#231f20;
        font-size:6vh;
    }
    .logo-footer{
        width:75px;
    }
    .lbl-foot{
        font-family: shonenpunkbold;
        font-size: 3vh;
    }
    .text-foot{
        font-family: wit;
        font-size: 3vh
    }
    .footer-body{
        margin-top:-5%;
    }
}

@media only screen and (min-width: 481px) {
    .text-head-popup{
        font-family: witbold!important;
        font-size: 4vh;
        line-height: 4.25vh;
    }
    .quotes-popup{
        background:url('../images/2/POP\ UP/2_kotakquotes.png') no-repeat;
        padding:20px;    
        background-size: 100%;
        font-size: 2.5vh;
        font-family: witbold;
        margin-bottom:20px;
    }
}

@media only screen and (max-width: 480px) {
    .text-head-popup{
        font-family: witbold!important;
        font-size: 4vh;
        line-height: 4.25vh;
    }
    .quotes-popup{
        background:url('../images/2/POP\ UP/2_kotakquotes.png') no-repeat;
        padding:8px 10px;    
        background-size: 100%;
        font-size: 2vh;
        font-family: witbold;
        margin-bottom:20px;
    }
}